age.agekey
talconfig.jso*
patches/sopssecret.yaml
clusterconfig
deps/*
deps/cni/charts
deps/certificate-approver/charts
deps/cni/values.yaml
!deps/talhelper
!deps/encryption.sh
!deps/deploy-extras.sh
!deps/health.sh
!deps/approve-certs.sh
!deps/apply-kubeconfig.sh
!deps/cni
!deps/certificate-approver
!deps/certificate-approver/kustomization.yaml
!deps/metallb
!deps/metallb/kustomization.yaml
!deps/openebs
!deps/openebs/kustomization.yaml
!deps/metallb-config
!deps/metallb-config/kustomization.yaml
!deps/metallb-config/values.yaml
!deps/kubeapps
!deps/kubeapps/kustomization.yaml
!deps/kubeapps/values.yaml